<%= stylesheet_link_tag 'instagrams_index', :media => "all" %></br>

<%= form_tag({controller:"instagrams",action:"index"},method: :get) do %>
    <%= search_field_tag :search %>
    <%= submit_tag 'search' %>
<% end %>


<div class ="posts" >
    <% @posts.each do |t| %>
        <div class="card">
            <%= image_tag t.image_url,:class => "image" if t.image? %>
            <div class="card-body">
                <div class="card-title">
                    <%= image_tag t.user.image_url,size:"50×50" ,class: "user-image" if t.user.image?%>
                    <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
                </div>
                <div class="card-text">
                    <%= t.body %></br>
                    <%= link_to instagram_path(t.id), method: :get do%>
                        <i class="fas fa-info-circle"></i>
                    <% end %>
                    <% if user_signed_in? && current_user.id == t.user_id %>  
                        <%= link_to edit_instagram_path(t.id), method: :get do %>
                            <i class="fas fa-edit"></i>
                        <% end %>
                        <%= link_to instagram_path(t.id), method: :delete  do %>
                            <i class="fas fa-trash-alt"></i></br>
                        <% end %>
                    <% end %>

                    <% if user_signed_in? %>
                        <% if current_user.already_liked?(t) %>
                            <%= link_to instagram_like_path(id: t.id, instagram_id: t.id), method: :delete do %>
                                <i class="fas fa-heart fa-2x"><%= t.likes.count %></i>
                            <% end %>
                        <% else %>
                            <%= link_to instagram_likes_path(id: t.id, instagram_id: t.id), method: :post do %>
                                <i class="far fa-heart "><%= t.likes.count %></i>
                            <% end %>
                        <% end %>
                    <% end %>
                    <i class="far fa-comment"><%= t.comments.count %></i></br>

                    <% t.comments.limit(1).each do |c| %>
                        <%= c.user.email %>
                        <%= c.content %>
                        <% if user_signed_in? && current_user.id == c.user_id %>  
                            <%= link_to "削除する", instagram_comment_path(t,c.id), method: :delete %>
                        <% end %>
                    <% end %>

                    <% if user_signed_in? %>
                        <%= form_with(model: [t, @comment], local: true) do |f| %>
                            <%= f.text_field :content %>
                            <%= button_tag type: "submit" do %>
                                <i class="far fa-comments"></i> comment
                            <% end %>
                        <% end %>
                    <% end %>

                </div>
            </div>
        </div>
    <% end %>
</div>
